In [173]:
import pandas as pd
import numpy as np

datapath="../data/"

submission_data = pd.read_csv(datapath + "submission.csv")
test_data = pd.read_csv(datapath + "test.csv")
train_data = pd.read_csv(datapath + "train.csv")
countrycodes=pd.read_csv(datapath+"wikipedia-iso-country-codes.csv")
indicator_data=pd.read_excel(datapath+"Indicator_list.xlsx").fillna("")
age = pd.read_excel(datapath+"API_SP.POP.65UP.TO.ZS_DS2_en_excel_v2_887753.xls")
population = pd.read_excel(datapath+"total_population.xls")
population_dens = pd.read_excel(datapath+"population_density.xls")

indicator_data["long_form"]=indicator_data["long_form"].apply(lambda x: "_".join(x.split(" ")))
train_data[["ConfirmedCases","Fatalities"]]=train_data[["ConfirmedCases","Fatalities"]].astype(int)
submission_data[["ConfirmedCases","Fatalities"]]=submission_data[["ConfirmedCases","Fatalities"]].astype(int)

In [174]:
countrycodes=countrycodes[["Alpha-3 code", "English short name lower case"]]
countrycodes=countrycodes.drop(countrycodes[countrycodes["English short name lower case"].isna()].index,axis=0).reset_index(drop=True)
countrycodes.columns = ["Shortcut", "Country_Region"]

In [176]:
data_sets = [(age,"Population ages 65 and above"), (population,"Pop"), (population_dens,"Pop_dens")]
world= []
for worldbank, name in data_sets:
    worldbank.columns = worldbank.iloc[2]
    worldbank.drop(index=[0, 1,2],inplace = True)
    worldbank["Year"] = 2018
    worldbank = worldbank[["Indicator Code", "Country Code", "Year", 2018.0]]
    worldbank.columns = ["Indicator Code", "Shortcut", "Year", name]
    worldbank.head()
    world.append(worldbank)

In [177]:
world

[        Indicator Code Shortcut  Year  Population ages 65 and above
 3    SP.POP.65UP.TO.ZS      ABW  2018                     13.550947
 4    SP.POP.65UP.TO.ZS      AFG  2018                      2.584927
 5    SP.POP.65UP.TO.ZS      AGO  2018                      2.216374
 6    SP.POP.65UP.TO.ZS      ALB  2018                     13.744736
 7    SP.POP.65UP.TO.ZS      AND  2018                           NaN
 ..                 ...      ...   ...                           ...
 262  SP.POP.65UP.TO.ZS      XKX  2018                           NaN
 263  SP.POP.65UP.TO.ZS      YEM  2018                      2.876270
 264  SP.POP.65UP.TO.ZS      ZAF  2018                      5.318005
 265  SP.POP.65UP.TO.ZS      ZMB  2018                      2.099678
 266  SP.POP.65UP.TO.ZS      ZWE  2018                      2.939524

 [264 rows x 4 columns],     Indicator Code Shortcut  Year         Pop
 3      SP.POP.TOTL      ABW  2018    105845.0
 4      SP.POP.TOTL      AFG  2018  37172386.0
 5      SP.POP.TOTL      AGO  2018  30809762.0
 6      SP.POP.TOTL      ALB  2018   2866376.0
 7      SP.POP.TOTL      AND  2018     77006.0
 ..             ...      ...   ...         ...
 262    SP.POP.TOTL      XKX  2018   1845300.0
 263    SP.POP.TOTL      YEM  2018  28498687.0
 264    SP.POP.TOTL      ZAF  2018  57779622.0
 265    SP.POP.TOTL      ZMB  2018  17351822.0
 266    SP.POP.TOTL      ZWE  2018  14439018.0

 [264 rows x 4 columns],     Indicator Code Shortcut  Year    Pop_dens
 3      EN.POP.DNST      ABW  2018  588.027778
 4      EN.POP.DNST      AFG  2018   56.937760
 5      EN.POP.DNST      AGO  2018   24.713052
 6      EN.POP.DNST      ALB  2018  104.612263
 7      EN.POP.DNST      AND  2018  163.842553
 ..             ...      ...   ...         ...
 262    EN.POP.DNST      XKX  2018         NaN
 263    EN.POP.DNST      YEM  2018   53.977853
 264    EN.POP.DNST      ZAF  2018   47.630120
 265    EN.POP.DNST      ZMB  2018   23.341479
 266    EN.POP.DNST      ZWE  2018   37.324591

 [264 rows x 4 columns]]

In [153]:
import requests
from tqdm import tqdm

def import_data(indicator="",indicator_type="",name=""):
    url="https://ghoapi.azureedge.net/api/{}".format(indicator)
    data = pd.DataFrame(requests.get(url).json()["value"])
    data.drop([col for col in data.columns if data[col].isna().sum() == data.shape[0]],axis=1,inplace=True)
    data=data.drop(data[data.NumericValue.isna()].index,axis=0).reset_index(drop=True)
    data=data[data.Dim1==indicator_type] if len(indicator_type)>0 else data
    data=data[["IndicatorCode","SpatialDim","TimeDim","NumericValue"]].drop_duplicates(subset=["IndicatorCode","SpatialDim"],keep="last").reset_index(drop=True)
    data.columns=["IndicatorCode","Shortcut","Year",name]
    
    return data

def import_who_indicators(indicator_data):
    data=[import_data(indicator["short_form"],indicator["addition"],indicator["long_form"]) for _,indicator in tqdm(indicator_data.iterrows())]
    return data
    
who_data_list=import_who_indicators(indicator_data)
who_data_list.append(worldbank)

11it [00:11,  1.05s/it]

array([13.55094714,  2.58492694,  2.21637365, 13.74473591,         nan,
        4.55787642,  1.08500098, 11.11778888, 11.25381766,  8.79982552,
       15.65647523, 19.00156646,  6.19518275,  2.24694046, 18.78874374,
        3.2536053 ,  2.40698083,  5.15839064, 21.02191443,  2.42633388,
        7.25760236, 16.47031747, 14.84514817,  4.73645878,  7.19194739,
        8.92283783, 15.80269396,  4.87314757,  6.00301171,  4.22387435,
        2.82577371, 17.23200668, 18.4601185 , 18.62321656, 17.29746216,
       11.52980166, 10.92088354,  2.85894302,  2.72887736,  3.01784062,
        2.68171954,  8.47804702,  3.00700931,  4.60932716,  9.54984767,
        8.79665875, 15.18621142, 16.68489481, 13.71906177, 19.42087689,
       21.461962  ,  4.52757938, 19.81295264,  7.08281748,  6.36249654,
        9.49623787,  5.81780568, 10.744358  , 12.0469774 , 16.3488906 ,
        7.15728973,  5.22977935, 20.60028759, 19.37850752, 19.62635685,
        3.501133  , 19.93452168,  3.45084801, 21.72078755,  5.44968041,
       20.03462475,  3.99680398,  3.56390747, 18.39586567, 14.86549143,
        3.06889801,  2.92602245,  2.58998094,  2.82371634,  2.45787735,
       21.65527208,  9.6219068 ,  4.81207251,  9.84991072,  6.45027124,
       17.93204393, 16.87504833,  4.69061766,  3.02840924, 20.44543301,
        4.94940385, 19.15772538,  8.48378014,  7.22482074,  3.55749115,
        3.49886038,  5.85716561,  3.58759259,  6.17995565, 13.8658017 ,
        6.18457381,  3.32359966, 14.79509256, 11.97698602, 22.7516796 ,
        8.79664255,  3.8464904 , 27.57636991,  7.39184627,  2.33918661,
        4.49472798,  4.56868002,  3.95262717, 14.41855583,  2.55047238,
        8.24270282,  4.07514996,  7.00236813,  3.2534318 ,  4.39204026,
        9.80653036,  8.43830607,  3.54024911,  3.29117165, 10.47321975,
        5.52941547,  7.15665123,  4.9010875 , 10.72325299, 19.70503316,
       14.18315418, 20.04362032, 10.48420293,  7.01290482, 11.46955634,
        2.98671713,  3.70334461,  5.18216136,  7.22368498,  7.63701466,
       13.67018138,  2.50722976, 20.3493243 ,  5.78464193,  5.37543638,
       14.97493664,  4.08353879,  2.89076446,  3.14111216, 11.47417307,
        2.64543493,  6.67175463, 15.95257736,  3.63603168,  9.17415793,
        2.59500788,  2.74737701,  5.24749745, 19.19619263, 17.04922216,
        5.72767078, 15.65242453, 17.11861841,  2.39278696,  5.49246578,
        4.31277431,  8.10473108,  8.08839279,  5.12256877,  3.44526925,
       17.51781676,  2.75381364, 18.67485021,  9.33452041, 21.95385754,
        6.43021501,  3.13330574,  4.53731738, 18.95451697,  8.2905081 ,
        1.37007034, 18.33870139, 14.67470832,  2.93819608,  5.84056048,
        3.31408802,  3.58116053,  3.0868237 , 11.46338019,  3.59895046,
        2.96655621,  8.28709   ,  2.87331094, 18.34579269,  2.98729217,
        3.39848288,  2.98770561,  6.02956945,  2.92567811,  6.9063699 ,
       15.6292465 , 19.60687965, 20.09552493,  4.01458794,  7.5945456 ,
        4.50312442,  2.48051894,  9.49824756, 12.57559892,  2.86946801,
       11.90089314,  3.02188755,  4.42663446,  8.25620924,  4.31649229,
        5.40251473,  5.95366144, 10.73495352,  8.31567908,  8.48321294,
        2.60129918,  1.94098692, 16.43468644, 10.0379488 , 14.81451953,
       15.80765406,  4.41913788,  9.58978686,  7.26698662, 19.28830722,
        7.2749783 ,  3.64015307,  8.87344224,  4.80041197,  2.87626976,
        5.31800501,  2.09967803,  2.93952365])

In [163]:
def match_country_code(countrycodes,traindata):
    result = traindata.merge(countrycodes,on="Country_Region",how="left").reset_index(drop=True)
    return result

new_traindata = match_country_code(countrycodes,train_data)

def match_dataframes(new_traindata,who_data):
    result = new_traindata.merge(who_data,on="Shortcut",how="left")
    return result

for who_data in who_data_list:
    new_traindata = match_dataframes(new_traindata,who_data)

In [164]:
new_traindata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19110 entries, 0 to 19109
Data columns (total 43 columns):
Id                                                                                         19110 non-null int64
Province_State                                                                             8125 non-null object
Country_Region                                                                             19110 non-null object
Date                                                                                       19110 non-null object
ConfirmedCases                                                                             19110 non-null int32
Fatalities                                                                                 19110 non-null int32
Shortcut                                                                                   18980 non-null object
IndicatorCode_x                                                                            18850 non-null object
Year_x                                                                                     18850 non-null float64
Population_using_at_least_basic_sanitation_services_(%)                                    18850 non-null float64
IndicatorCode_y                                                                            18460 non-null object
Year_y                                                                                     18460 non-null float64
Hospital_beds_(per_10_000_population)                                                      18460 non-null float64
IndicatorCode_x                                                                            18785 non-null object
Year_x                                                                                     18785 non-null float64
Total_expenditure_on_health_as_a_percentage_of_gross_domestic_product                      18785 non-null float64
IndicatorCode_y                                                                            18850 non-null object
Year_y                                                                                     18850 non-null float64
Medical_doctors_(per_10_000_population)                                                    18850 non-null float64
IndicatorCode_x                                                                            18785 non-null object
Year_x                                                                                     18785 non-null float64
Nursing_and_midwifery_personnel_(per_10_000_population)                                    18785 non-null float64
IndicatorCode_y                                                                            18135 non-null object
Year_y                                                                                     18135 non-null float64
Skilled_health_professionals_density_(per_10_000_population)                               18135 non-null float64
IndicatorCode_x                                                                            15600 non-null object
Year_x                                                                                     15600 non-null float64
Prevalence_of_smoking_any_tobacco_product_among_persons_aged_>=_15_years                   15600 non-null float64
IndicatorCode_y                                                                            18655 non-null object
Year_y                                                                                     18655 non-null float64
Raised_fasting_blood_glucose_(>=7.0_mmol/L_or_on_medication)(age-standardized_estimate)    18655 non-null float64
IndicatorCode_x                                                                            18655 non-null object
Year_x                                                                                     18655 non-null float64
Raised_blood_pressure_(SBP>=140_OR_DBP>=90)_(age-standardized_estimate)                    18655 non-null float64
IndicatorCode_y                                                                            18655 non-null object
Year_y                                                                                     18655 non-null float64
Prevalence_of_obesity_among_adults,_BMI_>=_30_(age-standardized_estimate)_(%)              18655 non-null float64
IndicatorCode                                                                              18070 non-null object
Year_x                                                                                     18070 non-null float64
Health_Service_Provision                                                                   18070 non-null float64
Indicator Code                                                                             18915 non-null object
Year_y                                                                                     18915 non-null float64
Population ages 65 and above                                                               18460 non-null float64
dtypes: float64(24), int32(2), int64(1), object(16)
memory usage: 6.3+ MB

In [31]:
new_traindata[new_traindata.isna().any(axis=1)]

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities,Shortcut,IndicatorCode_x,Year_x,Population_using_at_least_basic_sanitation_services_(%),...,Raised_fasting_blood_glucose_(>=7.0_mmol/L_or_on_medication)(age-standardized_estimate),IndicatorCode_x,Year_x,Raised_blood_pressure_(SBP>=140_OR_DBP>=90)_(age-standardized_estimate),IndicatorCode_y,Year_y,"Prevalence_of_obesity_among_adults,_BMI_>=_30_(age-standardized_estimate)_(%)",IndicatorCode,Year,Health_Service_Provision
0,1,NaN,Afghanistan,2020-01-22,0,0,AFG,WSH_SANITATION_BASIC,2017.0,62.26144,...,11.9,BP_04,2015.0,30.6,NCD_BMI_30A,2016.0,3.2,IHRSPAR_CAPACITY09,2018.0,60.0
1,2,NaN,Afghanistan,2020-01-23,0,0,AFG,WSH_SANITATION_BASIC,2017.0,62.26144,...,11.9,BP_04,2015.0,30.6,NCD_BMI_30A,2016.0,3.2,IHRSPAR_CAPACITY09,2018.0,60.0
2,3,NaN,Afghanistan,2020-01-24,0,0,AFG,WSH_SANITATION_BASIC,2017.0,62.26144,...,11.9,BP_04,2015.0,30.6,NCD_BMI_30A,2016.0,3.2,IHRSPAR_CAPACITY09,2018.0,60.0
3,4,NaN,Afghanistan,2020-01-25,0,0,AFG,WSH_SANITATION_BASIC,2017.0,62.26144,...,11.9,BP_04,2015.0,30.6,NCD_BMI_30A,2016.0,3.2,IHRSPAR_CAPACITY09,2018.0,60.0
4,5,NaN,Afghanistan,2020-01-26,0,0,AFG,WSH_SANITATION_BASIC,2017.0,62.26144,...,11.9,BP_04,2015.0,30.6,NCD_BMI_30A,2016.0,3.2,IHRSPAR_CAPACITY09,2018.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19105,29361,NaN,Zimbabwe,2020-03-22,3,0,ZWE,WSH_SANITATION_BASIC,2017.0,46.21599,...,7.1,BP_04,2015.0,28.2,NCD_BMI_30A,2016.0,4.7,IHRSPAR_CAPACITY09,2018.0,20.0
19106,29362,NaN,Zimbabwe,2020-03-23,3,1,ZWE,WSH_SANITATION_BASIC,2017.0,46.21599,...,7.1,BP_04,2015.0,28.2,NCD_BMI_30A,2016.0,4.7,IHRSPAR_CAPACITY09,2018.0,20.0
19107,29363,NaN,Zimbabwe,2020-03-24,3,1,ZWE,WSH_SANITATION_BASIC,2017.0,46.21599,...,7.1,BP_04,2015.0,28.2,NCD_BMI_30A,2016.0,4.7,IHRSPAR_CAPACITY09,2018.0,20.0
19108,29364,NaN,Zimbabwe,2020-03-25,3,1,ZWE,WSH_SANITATION_BASIC,2017.0,46.21599,...,7.1,BP_04,2015.0,28.2,NCD_BMI_30A,2016.0,4.7,IHRSPAR_CAPACITY09,2018.0,20.0
19109,29365,NaN,Zimbabwe,2020-03-26,3,1,ZWE,WSH_SANITATION_BASIC,2017.0,46.21599,...,7.1,BP_04,2015.0,28.2,NCD_BMI_30A,2016.0,4.7,IHRSPAR_CAPACITY09,2018.0,20.0

In [127]:
new_traindata[new_traindata["Shortcut"].isna()]["Country_Region"].unique()

array(['Diamond Princess', 'Holy See'], dtype=object)

In [40]:
countrycodes[countrycodes["ISO3166-1-Alpha-3"]=="BOL"]

,official_name_ar,official_name_cn,official_name_en,official_name_es,official_name_fr,official_name_ru,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,ISO3166-1-numeric,ISO4217-currency_alphabetic_code,...,Least Developed Countries (LDC),MARC,Region Code,Region Name,Small Island Developing States (SIDS),Sub-region Code,Sub-region Name,TLD,WMO,is_independent
26,بوليفيا (دولة - المتعددة القوميات),玻利维亚(多民族国),Bolivia (Plurinational State of),Bolivia (Estado Plurinacional de),Bolivie (État plurinational de),Боливия (Многонациональное Государство),BO,BOL,68.0,BOB,...,NaN,bo,19.0,Americas,NaN,419.0,Latin America and the Caribbean,.bo,BO,Yes

In [21]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 6 columns):
Id                19110 non-null int64
Province_State    8125 non-null object
Country_Region    19110 non-null object
Date              19110 non-null object
ConfirmedCases    19110 non-null int32
Fatalities        19110 non-null int32
dtypes: int32(2), int64(1), object(3)
memory usage: 746.6+ KB

In [8]:
[data.Year for data in who_data_list]

[0      2017
 1      2017
 2      2017
 3      2017
 4      2017
        ...
 189    2017
 190    2017
 191    2017
 192    2017
 193    2017
 Name: Year, Length: 194, dtype: int64, 0      2011
 1      2015
 2      2012
 3      2010
 4      2006
        ...
 175    2007
 176    2014
 177    2010
 178    2008
 179    2006
 Name: Year, Length: 180, dtype: int64, 0      2014
 1      2014
 2      2014
 3      2014
 4      2014
        ...
 198    2014
 199    2014
 200    2014
 201    2014
 202    2014
 Name: Year, Length: 203, dtype: int64, 0      2001
 1      1997
 2      2010
 3      2003
 4      2000
        ...
 188    1999
 189    1997
 190    2004
 191    2004
 192    1990
 Name: Year, Length: 193, dtype: int64, 0      2000
 1      2005
 2      2005
 3      2001
 4      2008
        ...
 187    2006
 188    1999
 189    2017
 190    2015
 191    2017
 Name: Year, Length: 192, dtype: int64, 0      2007
 1      2009
 2      2016
 3      2012
 4      2012
        ...
 180    2014
 181    2014
 182    2014
 183    2014
 184    2014
 Name: Year, Length: 185, dtype: int64, 0      2025
 1      2025
 2      2025
 3      2025
 4      2025
        ...
 135    2012
 136    2012
 137    2012
 138    2012
 139    2012
 Name: Year, Length: 140, dtype: int64, 0      2014
 1      2014
 2      2014
 3      2014
 4      2014
        ...
 197    2014
 198    2014
 199    2014
 200    2014
 201    2014
 Name: Year, Length: 202, dtype: int64, 0      2015
 1      2015
 2      2015
 3      2015
 4      2015
        ...
 197    2015
 198    2015
 199    2015
 200    2015
 201    2015
 Name: Year, Length: 202, dtype: int64, 0      2016
 1      2016
 2      2016
 3      2016
 4      2016
        ...
 197    2016
 198    2016
 199    2016
 200    2016
 201    2015
 Name: Year, Length: 202, dtype: int64, 0      2018
 1      2018
 2      2018
 3      2018
 4      2018
        ...
 176    2018
 177    2018
 178    2018
 179    2018
 180    2018
 Name: Year, Length: 181, dtype: int64]

In [249]:
list(set(who_data_list[6].Year))

[2025, 2012]